<!--NavBar-->
<div class="container px-2 pt-2 pb-1">
    <div class = "card text-center bg-success shadow rounded">
        <a class="navbar-brand" href="{% url 'home' %}"><h1 class="display-4">Chikitsak</h1></a>
    </div>
</div>
<div class="container px-2 pb-2 " >
    <div class="card  shadow bg-white rounded">
    <header>
    <nav class="nav justify-content-center navbar" >
        <a class="nav-link active" href="#">Groups</a>
        <a class="nav-link" href="#">Talks</a>
        <a class="nav-link" href="#">Hospital</a>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="material-icons">face</i>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Profile</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'logout' user %}">Logout</a>
            </div>
        </li>
    </nav>
    </header>
    </div>
</div>
<!--NavBar-->