<!--NavBar-->
<div class="container">
    <div class = "card text-center">
        <a class="navbar-brand" href="{% url 'home' %}">Chikitsak</a>
    </div>
</div>
<div class="container">
    <div class="card">
    <nav class="nav justify-content-center navbar-toggler">
        <a class="nav-link active" href="#">Groups</a>
        <a class="nav-link" href="#">Talks</a>
        <a class="nav-link" href="#">Hospital</a>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="material-icons">face</i>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Profile</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'logout' user %}">Logout</a>
            </div>
        </li>
    </nav>
    </div>
</div>
<!--NavBar-->