{% load widget_tweaks %}
<!DOCTYPE HTML>
<html lang="en">

<head>
    <title> Dashboard </title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    {% include 'snippets/js.html' %}
    <!-- Bootstrap core CSS -->
    {% include 'snippets/css.html' %}
    <script>
        if (!!window.performance && window.performance.navigation.type == 2) {
            window.location.reload();
        }
    </script>
</head>

<body onunload="">
    <div class="container">
        {% include 'snippets/nav.html' %}
        <!--Body-->
        <div class="container">
            <div class="row ">
                <div class="col-md-8 p-2">
                    <div class="card shadow">
                        <div class="card-header">
                            <h4 class="mt-4">{{ user }}'s to your dashboard</h4>
                        </div>
                        <div class="card-body">
                            {% block content %}
                            {% endblock content %}
                        </div>
                    </div>
                </div>
                <div class="col-md-4 p-2">
                    <div class="pb-2">
                    <div class="card shadow">
                        <div class="card-header">
                            Groups Joined
                            <!--Add Button here for group creation-->
                        </div>
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                {% if ch %}
                                {% for chan in ch %}
                                <li class="list-group-item"><a href="{% url 'room' chan %}">{{ chan }}</a></li>
                                {% endfor %}
                                {% endif %}
                            </ul>
                        </div>  
                    </div>
                    </div>
                    <div class = "pt-2">
                    <div class="card shadow">
                        <div class="card-header">
                            Available channels
                        </div>
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                {% for val in all %}
                                <li class="list-group-item">{{ val }} <a class="btn btn-success" style="float: right;"
                                        href="{% url 'join_room' val %}" role="button">Join</a>
                                    {% endfor %}
                            </ul>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Body-->
    </div>
</body>

</html>