{% load widget_tweaks %}
<!DOCTYPE HTML>
<html lang="en">

<head>
    <title> Dashboard </title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    {% include 'snippets/js.html' %}
    <!-- Bootstrap core CSS -->
    {% include 'snippets/css.html' %}
    <script>
        if (!!window.performance && window.performance.navigation.type == 2) {
            window.location.reload();
        }
    </script>
</head>

<body onunload="">
    <div class="container">
        {% include 'snippets/nav.html' %}
        <!--Body-->
        <div class="container">
            <div class="row no-gutters">
                <div class="col-md-8">
                    <div class="card border-success">
                        <div class="card-header">
                            <h4 class="mt-4">{{ user }}'s to your dashboard</h4>
                        </div>
                        <div class="card-body">
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card border-success">
                        <div class="card-header">
                            Groups Joined
                        </div>
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                {% if ch %}
                                {% for chan in ch %}
                                <li class="list-group-item"><a href="{% url 'room' chan %}">{{ chan }}</a></li>
                                {% endfor %}
                                {% endif %}
                            </ul>
                        </div>  
                    </div>
                    <div class="card border-success">
                        <div class="card-header">
                            Available channels
                        </div>
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                {% for val in all %}
                                <li class="list-group-item">{{ val }} <a class="btn btn-success" style="float: right;"
                                        href="{% url 'join_room' val %}" role="button">Join</a>
                                    {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Body-->
        <div class="container" id="create-group">
            Create a chat room <button type="button" class="btn btn-success">Create</button>
            <input id="room-name-input" type="text" size="25" />
            <input id="room-name-submit" type="button" value="Enter" /></p>
        </div>
        <script>
            document.querySelector('#room-name-input').focus();
            document.querySelector('#room-name-input').onkeyup = function (e) {
                if (e.keyCode === 13) {  // enter, return
                    document.querySelector('#room-name-submit').click();
                }
            };

            document.querySelector('#room-name-submit').onclick = function (e) {
                var roomName = document.querySelector('#room-name-input').value;
                window.location.pathname = 'medico/channel_create/' + roomName + '/';
            };
        </script>
        <script>
            document.querySelector('#create-group').onclick = function (e) {
                document.getElementById('')
            };
        </script>
    </div>
</body>

</html>